<header class="page-header">
    <div class="page-header__inner">
        <div class="page-header__summary">
            <span class="page-header__entity page-header__entity--name"><%= name %></span>
            <span class="page-header__entity page-header__entity--title"><%= jobTitle %></span>
        </div>
        <div class="page-header__constacts">
            <span class="page-header__entity page-header__entity--email"><%= email %></span>
            <a href="tel:<%= String(phone).replace(/\s+/g, '') %>" class="page-header__entity page-header__entity--phone"><%= phone %></a>
        </div>
    </div>
</header>