<section class="skill-set">

    <h2 class="skill-set__header">
        Skill set
    </h2>

    <table class="skill-set__common-head">
        <thead>
        <th class="skill-set__common-col skill-set__common-col--tech">Technology, Tool, Skill</th>
        <th class="skill-set__common-col skill-set__common-col--exp">Experience (years)</th>
        <th class="skill-set__common-col skill-set__common-col--last">Last time used</th>
        </thead>
    </table>

    <%- include('skill-table', languages); %>
    <%- include('skill-table', frameworks); %>
    <%- include('skill-table', dbms); %>

    <div class="page-separator"></div>

    <%- include('skill-table', appservers); %>
    <%- include('skill-table', tools); %>

</section>
